
.container
  .jumbotron
    h1 Welcome 
      span.fullname 
    img.profile-pic(src="/img/L.jpg")
    p Username: 
      span.username
    a(href="/subpages/changePassword") Change Password
    p Age: #{age}
    p Address: #{address}
    p Phone: #{phone}
    p Emergency Contact: 
      p.indent Name: #{emergencyName}
      p.indent Phone: #{emergencyPhone}
      p.indent Email: #{emergencyEmail}
    p Total Hours Ever: #{hoursEver}
    p Total Hours This Year: #{hoursYear} 

script(src='/js/jquery/jquery.js')
script(src='/js/vp_app.js')