.container
  .jumbotron
    h1 Welcome #{volunteerName}
    img.profile-pic(src="/img/L.jpg")
    p Username: #{username} 
    a(href="/subpages/changePassword") Change Password
    p Age: #{age}
    p Address: #{address}
    p Phone: #{phone}
    p Emergency Contact: 
      p.indent Name: #{emergencyName}
      p.indent Phone: #{emergencyPhone}
      p.indent Email: #{emergencyEmail}
    p Total Hours Ever: #{hoursEver}
    p Total Hours This Year: #{hoursYear} 
